<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OldDbContext" connectionString="data source=triviotesttbserver.database.windows.net;initial catalog=TrivioTestDb;persist security info=True;user id=triviathrowtoy;password=seniordesign123!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="NewDbContext" connectionString="data source=triviotoyserver.database.windows.net;initial catalog=TrivioDb;persist security info=True;user id=triviathrowtoy;password=seniordesign123!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>